@using WebPortal.Localizations


<html>
<head>
    <link href="~/css/spaceStation.css" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <div class="image-container">
            <img class="logo" src="~/images/spaceStation/logo.png">
        </div>
        <a class="mainButton" href="/">@SpaceNews.Index_Button_MainWebApp</a>
        <a class="mainButton" href="/SpaceStation/News">@SpaceNews.Index_Button_News</a>
        <a class="mainButton" href="/SpaceStation/Contacts">@SpaceNews.Index_Button_Contacts</a>
        <a class="mainButton" href="/SpaceStation/Link">@SpaceNews.Index_Button_Link</a>
    </div>

    <img src="~/images/spaceStation/back.jpg" class="background-image">
    @RenderBody()


    <div class="footer">
        <div class="contacts">
            <div class="phone">@SpaceNews.Index_Phone</div>
            <div class="email">@SpaceNews.Index_Email</div>
            <div class="adress">@SpaceNews.Index_Adress</div>
        </div>
    </div>

    <div></div>
</body>
</html>