@using WebPortal.DbStuff.Models
@using WebPortal.Services
@using WebPortal.Localizations.CompShop
@using WebPortal.Services.Permissions.Interface

@inject WebPortal.Services.IAuthService authService
@inject ICompShopPermission compShopPermission

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site by Rostkot_css</title>
    <link rel="stylesheet" href="~/css/CompShop/base_css.css" />
    @RenderSection("StyleCompShop", false)
</head>

<body>
    <div class="title">
        <header class="container">


            <a href="/" class="logo">
                <img src="~/images/CompShop/logo.png" alt="logo">
                <h2>COMP SHOP</h2>
            </a>


            <div class="menu">
                <nav class="menu-list">
                    <ul>
                        <li class="@(Context.Request.Path.ToString().ToLower() == "/compshop" ? "active" : "")"><a href="/CompShop">@CompShop.Index_IndexPage</a></li>
                        <li class="@(Context.Request.Path.ToString().ToLower() == "/compshop/catalog" ? "active" : "")"><a href="/CompShop/Catalog">@CompShop.Index_Page_Catalog</a></li>
                        <li><a href="#">@CompShop.Index_Page_Review</a></li>
                        <li><a href="#">@CompShop.Index_Page_About</a></li>
                        <li><a href="#">@CompShop.Index_Page_Contacts</a></li>

                        @if (compShopPermission.CanDelete())
                        {
                            <li class="@(Context.Request.Path.ToString().ToLower() == "/compshop/add" ? "active" : "")"><a href="/CompShop/Add">@CompShop.Index_Button_Add</a></li>
                        }

                    </ul>
                </nav>
            </div>

            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>

                <ul class="menu__box">
                    <li><a class="menu__item" href="#">@CompShop.Index_IndexPage</a></li>
                    <li><a class="menu__item" href="#">@CompShop.Index_Page_Catalog</a></li>
                    <li><a class="menu__item" href="#">@CompShop.Index_Page_Review</a></li>
                    <li><a class="menu__item" href="#">@CompShop.Index_Page_About</a></li>
                    <li><a class="menu__item" href="#">@CompShop.Index_Page_Contacts</a></li>
                    <li><a class="menu__item" href="#">@CompShop.Index_Button_Add</a></li>
                </ul>
            </div>

            @{
                var userName = compShopPermission.GetNameUser();
            }

            <a href="/User/CompShopProfil" class="profile">
                <img src="~/images/CompShop/profil.png" alt="profil">
                <span class="nickname">@userName</span>
            </a>

        </header>
    </div>

    <hr />

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <div class="footer-container">
            <div class="container">
                <div class="footer_text">
                    <div class="name">

                        <div class="logo">
                            <img src="~/images/CompShop/logo.png" alt="logo">
                            <h2>COMP SHOP</h2>
                        </div>

                        <div class="menu">
                            <nav class="menu-list">
                                <ul>
                                    <li><a href="#">@CompShop.Index_Page_About</a></li>
                                    <li><a href="#">@CompShop.Index_Page_Contacts</a></li>
                                    <li><a href="#">@CompShop.Index_Page_Review</a></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="phone">
                            <p>+375(29) XXX-XX-XX</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
