@using WebPortal.Models.CompShop
@using WebPortal.Localizations.CompShop

@{
    Layout = "_LayoutCompShop";
}
@model StartPageViewModel


@section StyleCompShop{
    <link rel="stylesheet" href="~/css/CompShop/index.css" />
}

<body>
    <div class="baner">
        <div class="baner-img">
            <div class="home">
                <div class="container">
                    <div class="baner_text">
                        <div class="laptop">
                            <img src="~/images/CompShop/index/laptop.png" alt="laptop">
                        </div>
                        <div class="name">
                            <h2>@CompShop.Index_Ad_Delivery <br /> <span>@CompShop.Index_Ad_Delivery_green</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container">
        <div class="advantages">

            <div class="info">
                <img src="~/images/CompShop/index/comp_icon.png" alt="comp">
                <p>@CompShop.Index_Advantages_Config<br /></p>
            </div>

            <div class="info">
                <img src="~/images/CompShop/index/money_icon.png" alt="money">
                <p>@CompShop.Index_Advantages_Price<br /></p>
            </div>

            <!-- HELP -->
            <!-- HELP -->
            <!-- HELP -->
            <!-- HELP -->
            <div class="info">
                <img src="~/images/CompShop/index/speed_icon.png" alt="speed">
                <p>@CompShop.Index_Advantages_Speed_1<br />@CompShop.Index_Advantages_Speed_2</p>
            </div>

            <div class="info">
                <img src="~/images/CompShop/index/car_icon.png" alt="car">
                <p>@CompShop.Index_Advantages_Delivery<br /></p>
            </div>

        </div>

        <div class="catalog">

            <div class="name">
                <h2>@CompShop.Index_Page_Catalog</h2>
                <a href="#">@CompShop.Index_All_Model <span>></span></a>
            </div>

            <!-- Logic spawns 3 computers in a row, if there are not 3, it will lay them out after -->
            <div class="popular">
                @foreach (var devicesInRow in Model.DevicesOfThree)
                {
                    <div class="three-obj">
                        @foreach (var device in devicesInRow)
                        {
                            <div class="comp">
                                <div class="info">
                                    <a href="/compshop/ProductInfo?id=@device.Id">
                                        <img src="@device.Image" alt="comp" />
                                        <p class="name">@device.Name</p>
                                        <p class="type">@device.TypeDevice?.Name @device.Category?.Name</p>
                                        <p class="cost">
                                            <span>@device.Price Byn</span>
                                            <s>@(device.Price + 260) Byn</s>
                                        </p>
                                    </a>

                                    <div class="btns">
                                        <div class="btn">
                                            <a href="#?id=@device.Id">В корзину</a>
                                        </div>
                                        @if (device.CanDelete)
                                        {
                                            <div class="btn delete">
                                                <a href="/compshop/delete?id=@device.Id">Удалить</a>
                                            </div>
                                        }
                                    </div>
                                    
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>

        <div class="special_offers">

            <div class="name_block">
                <h1>@CompShop.Index_Special_Ad</h1>
            </div>

            <div class="blocks">

                <div class="block">
                    <div class="hero_text">
                        <h2>@CompShop.Index_Special_Ad_Basket</h2>
                        <p>@CompShop.Index_Special_Ad_Basket_Desc</p>
                    </div>
                    <div class="image">
                        <img src="~/images/CompShop/index/blue_forest.png" alt="forest_fon" />
                    </div>
                </div>

                <div class="block">
                    <div class="hero_text">
                        <h2>@CompShop.Index_Special_Ad_Cart</h2>
                        <p>@CompShop.Index_Special_Ad_Cart</p>
                    </div>
                    <div class="image">
                        <img src="~/images/CompShop/index/basket.png" alt="basket" />
                    </div>
                </div>
            </div>
        </div>

        <div class="location">

            <div class="name_block">
                <h1>@CompShop.Index_My_Shop</h1>
            </div>

            <div class="map">
                <img src="~/images/CompShop/index/yandex_map.PNG" alt="yandex_map" />
            </div>

        </div>

        <div class="articles">

            <div class="name">
                <h2>@CompShop.Index_News</h2>
                <a href="#">@CompShop.Index_All_News <span>></span></a>
            </div>

            <div class="three-obj">
                @foreach (var news in Model.News)
                {
                    <div class="block">
                        <img src="@news.Image" alt="News Image" />

                        <div class="date">@news.DateCreate.ToString("dd.MM.yyyy")</div>

                        <h2 class="name">@news.Name</h2>

                        <p class="desc">
                            @news.Description
                        </p>

                        <a href="#" class="link">Подробнее</a>
                    </div>
                }
            </div>
        </div>

    </div> <!-- container -->

</body>
