@using WebPortal.Models.Moshko
@{
    Layout = "_LayoutCompShop";
}
@model List<List<DeviceViewModel>>

<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="~/css/Moshko/index.css" />
</head>

<body>

    <div class="baner">
        <div class="home">
            <div class="container">
                <div class="baner_text">
                    <div class="laptop">
                        <img src="~/images/Moshko/index/laptop.png" alt="laptop">
                    </div>
                    <div class="name">
                        <h2>Доставка компьютеров <span>бесплатно от 4.000 Byn</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="advantages">

            <div class="info">
                <img src="~/images/Moshko/index/comp_icon.png" alt="comp">
                <p>Индивидуальная<br />конфигурация</p>
            </div>

            <div class="info">
                <img src="~/images/Moshko/index/money_icon.png" alt="money">
                <p>Демократичные <br />цены</p>
            </div>

            <div class="info">
                <img src="~/images/Moshko/index/speed_icon.png" alt="speed">
                <p>Быстрая<br />cборка</p>
            </div>

            <div class="info">
                <img src="~/images/Moshko/index/car_icon.png" alt="car">
                <p>Оперативная<br />доставка</p>
            </div>

        </div>


        <div class="catalog">

            <div class="name">
                <h2>КАТАЛОГ</h2>
                <a href="#">Все модели <span>></span></a>
            </div>

            <!-- Logic spawns 3 computers in a row, if there are not 3, it will lay them out after -->
            <div class="popular">
                @foreach (var devicesInRow in Model)
                {
                    <div class="three-obj">
                        @foreach (var device in devicesInRow)
                        {
                            <div class="comp">
                                <div class="info">
                                    <a>
                                        <img src="@device.Image" alt="comp" />
                                        <p class="name">@device.Name</p>
                                        <p class="type">@device.TypeDevice?.Name @device.Category?.Name</p>
                                        <p class="cost">
                                            <span>@device.Price Byn</span>
                                            <s>@(device.Price + 260) Byn</s>
                                        </p>
                                    </a>

                                    <div class="btns">
                                        <button>В корзину</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>

        </div>

    </div> <!-- container -->


</body>

</html>
