@using WebPortal.Localizations
@using WebPortal.Models.Tourism
@model TourCreationViewModel
@{
    Layout = "_LayoutTourism";
}
@section PageName {
   @TourismLoc.Shop_Page_name
}

<div class="adminpage">
    <form action="/tourism/AddShopItem" method="post" enctype="multipart/form-data">
        <p>@TourismLoc.Shop_Title_Page</p>
        <div class="input-field">
            @Html.TextBoxFor(x => x.TourName, new { placeholder = TourismLoc.Shop_Placeholder_Tour_name })
            @Html.ValidationMessageFor(x => x.TourName)
        </div>
        <p>
           @TourismLoc.Shop_Title_Autors
        </p>
        <div class="dropdown-content"> 
            @Html.DropDownListFor(x => x.AuthorId, Model.AllUsers)
            @Html.ValidationMessageFor(x => x.AuthorId)
        </div>
        <div class="file-upload">
            <input type="file" name="TourImgFile" />
        </div>
        <button>Add</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Tour name</th>
                <th>Author name</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var stat in Model.ToursStatiscticModel)
    {
        <tr>
            <td>@stat.TourName</td>
            <td>@stat.AutorName</td>
            <td>@stat.CreatedDate.ToString("DD.MM.YYYY")</td>
        </tr>
    }
        </tbody>
        </table>
</div>