@using WebPortal.Models.Tourism

@model PersonalHomeViewModel

@{
    Layout = "_LayoutTourism";
}
@section PageName {
            Shop
}
@section Scripts {
    <script src="/js/tourism/shop.js"></script>
    <script src="~/js/tourism/shopEdit.js"></script>
}
<div class="control-panel">
    <div class="user-block">
        Welcome back @Model.Name (Client id: @Model.Id)
    </div>
    @if (Model.Tours.Any(t => t.CanDelete))
    {
        <div class="hidden-button">
            <a class="remove-action"> remove all </a>
        </div>
    }
</div>
<div class="shop">
    @foreach (var shopItem in Model.Tours)
    {
        <div class="product-block"
             data-id="@shopItem.Id"
             data-tour="@shopItem.TourName"
             data-author="@shopItem.AuthorName">
            @if (shopItem.CanDelete)
            {
                <span class="title-view mode">@shopItem.TourName</span>
                <input class="edit mode hidden" name="name" />
            }
            else
            {
                <span>@shopItem.TourName</span>
            }
            <span>(is prepared by @shopItem.AuthorName)</span>
            <div class="image">
                <img class="shop-image" src="@shopItem.TourImg" />
                <div class="shop-actions">
                    <div class="shop-action">
                        Buy
                    </div>
                    @if (shopItem.CanDelete)
                    {
                        <a class="shop-action" href="/tourism/RemoveShopItem?id=@shopItem.Id"> remove </a>
                        <button type="button"
                                class="notify-button">
                            Notify Users
                        </button>
                    }
                </div>
            </div>
        </div>
    }
</div>
<div class="shop from-minimal-api">
        <div class="product-block template-car"
             data-id="">
             <span class="title">xxx</span> 
            <div class="image">
                <img class="shop-image" src="" />
            </div>
        </div>
</div>
<div class="notification-container">
    <div class="notification template">Example</div>
</div>
