@using WebPortal.Models.Tourism

@model PersonalHomeViewModel

@{
    Layout = "_LayoutTourism";
}
@section PageName {
        Shop
}
@section Scripts {
    <script src="/js/tourism/shop.js"></script>
}
<div class="control-panel">
<div class="user-block">
    Welcome back @Model.Name (Client id: @Model.Id)
</div>
<div class="hidden-button">
    <a class="remove-action"> remove all </a>
</div>
</div>
<div class="shop">
    @foreach (var shopItem in Model.Tours)
    {
        <div class="product-block">
            <p class="title">@shopItem.TourName (is prepared by @shopItem.AuthorName)</p>
            <div class="image">
                <img class="shop-image" src="@shopItem.TourImg" />
                <div class="shop-actions">
                    <div class="shop-action">
                        Buy
                    </div>
                    @if(shopItem.CanDelete)
                    {
                        <a class="shop-action" href="/tourism/RemoveShopItem?id=@shopItem.Id"> remove </a>
                    }
                </div>
            </div>
        </div>
    }
</div>