@using WebPortal.Models.CoffeShop
@model CoffeeShopViewModel

@{
    Layout = "CoffeShopPages/_LayoutCoffeShop";
}

@section Scripts {
    <script src="~/js/coffeshop/editCoffe.js"></script>
}


<!-- Products -->
<section class="products" id="products">
    <div class="heading">
        <h2>Our popular products</h2>
    </div>
    <!-- Container -->
    <div class="products-container">
        @foreach (var coffeProducts in Model.CoffeeProducts)
        {
            <div class="box" data-id="@coffeProducts.Id">
                <img src="@coffeProducts.Img" />
                <h3>
                    <div class="editable-title">
                        <span class="view mode">@coffeProducts.Name</span>
                        <input class="edit mode hidden" name="name" />
                    </div>
                </h3>

                <div class="content">
                    <span>$@coffeProducts.Cell</span>
                    <a href="#">Buy</a>
                </div>
            </div>
        }
    </div>
    <div class="show-more-container">
        <a href="#" class="show-more-link">Show More</a>
    </div>
</section>
<!-- Customers -->
<section class="customers" id="customers">
    <div class="heading">
        <h2>Our Customer's</h2>
    </div>
    <!-- Container -->
    <div class="customers-container">
        @foreach (var userComments in Model.UserComments)
        {
            <div class="box">
                <img src="@userComments.ImgUser" alt="" />
                <h2>@userComments.NameUser</h2>
                <p>
                    @userComments.Description
                </p>
                @* Leave it for later *@
                <div class="stars">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
            </div>
        }
    </div>
</section>
