@using WebPortal.Models.CoffeShop
@model CoffeeShopViewModel

@{
    Layout = "CoffeShopPages/_LayoutCoffeShop";
}

<!-- Products -->
<section class="products" id="products">
    <div class="heading">
        <h2>Our popular products</h2>
    </div>
    <!-- Container -->
    <div class="products-container">
        @foreach (var coffeProducts in Model.CoffeeProducts)
        {
            <div class="box">
                <img src="@coffeProducts.Img" />
                <h3>@coffeProducts.Name</h3>
                <div class="content">
                    <span>$@coffeProducts.Cell</span>
                    <a href="/CoffeShop/RemoveCoffee?id=@coffeProducts.Id">Remove</a>
                    <a href="#">Buy</a>
                </div>
            </div>
        }
        </div>
    <div class="show-more-container">
        <a href="#" class="show-more-link">Show More</a>
    </div>
</section>
<!-- Customers -->
<section class="customers" id="customers">
    <div class="heading">
        <h2>Our Customer's</h2>
    </div>
    <!-- Container -->
    <div class="customers-container">
        @foreach (var userComments in Model.UserComments)
        {
            <div class="box">
                <img src="@userComments.ImgUser" alt="" />
                <h2>@userComments.NameUser</h2>
                <p>
                    @userComments.Description
                </p>
                @* Leave it for later *@
                <div class="stars">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
                    <a class="btn-danger" href="/CoffeShop/RemoveComment?id=@userComments.Id">Remove</a>
            </div>
        }
    </div>
</section>
