@using WebPortal.DbStuff.Models
@{
    Layout = "UnderTheBridge/Layout";
}
@model WebPortal.Models.UnderTheBridge.GuitarCreateViewModel
<form action="@Url.Action("AddGuitar")" method="post" style="width: 30%; margin-left: auto; margin-right: auto; margin-bottom: 50px">
    <h1>Form creating form</h1>
    <div>
        @Html.TextBoxFor(x => x.Name, new { placeholder = "name" })<br>
        @Html.TextBoxFor(x => x.ImageUrl, new { placeholder = "image link" })<br>
        @Html.TextBoxFor(x => x.Price, new { placeholder = "price", @type = "number" })<br>
        @foreach (var status in Enum.GetValues(typeof(GuitarEntity.AccessStatus)))
        {
            @Html.RadioButtonFor(x => x.Status, status)
            @Html.Label(status.ToString())<br>
        }
        <button type="submit">submit</button><br>
    </div>
</form>