@using WebPortal.Models.UnderTheBridge
@using WebPortal.DbStuff.Models
@{
    Layout = "UnderTheBridge/Layout";
}
@model DetailViewModel
<main>
            <section>
                <div class="ditails">
                    <div class="ditails-infoblock">
                        <div class="ditails-infoblock-image">
                            <img src="~/images/UnderTheBridge/Guitars/@Model.Guitar.ImageUrl">
                        </div>
                        <div class="ditails-infoblock-menu">
                            <h1 class="products-card-name">@Model.Guitar.Name</h1>
                            <div class="products-card-box-center">
                                <img class="products-card-icon" src="~/images/UnderTheBridge/Static/star.png">
                                <span class="products-card-reviews">@Model.Guitar.Mark</span>
                                <span class="products-card-reviews">(Reviews: @Model.Guitar.ReviewAmount)</span>
                            </div>
                            <span class="products-card-price">@Model.Guitar.Price$</span>
                            <div class="products-card-box-wide">
                                <button class="products-card-compare"><a href="https://github.com/"><img class="products-card-icon" src="~/images/UnderTheBridge/Static/to-do-list.png"></a></button>
                                <button class="products-card-licked"><a href="https://github.com/"><img class="products-card-icon" src="~/images/UnderTheBridge/Static/heart.png"></a></button>
                                <button class="products-card-cart"><a href="https://github.com/"><img class="products-card-icon" src="~/images/UnderTheBridge/Static/shopping-basket.png"></a></button>
                            </div>
                            @switch (@Model.Guitar.Status)
                            {
                                case (GuitarEntity.AccessStatus.InShop):
                                    <span class="products-card-status-inShop">Avalible in shop</span>
                                    break;
                                case (GuitarEntity.AccessStatus.InStock):
                                    <span class="products-card-status-inStock">Avalible in stock</span>
                                    break;
                                case (GuitarEntity.AccessStatus.No):
                                    <span class="products-card-status-unavailable">Unavailable</span>
                                    break;
                            }
                        </div>
                    </div>
                    <div class="ditails-block"> <!--images-->
                        <details>
                            <summary>Images</summary>
                            <div class="ditails-images-box">
                                <img src="~/images/UnderTheBridge/Guitars/cort-x100-opbk-detail-1.jpg">
                                <img src="~/images/UnderTheBridge/Guitars/cort-x100-opbk-detail-2.jpg">
                            </div>
                        </details>
                    </div>
                    <div class="ditails-block"> <!--description-->
                        <details>
                            <summary>Description</summary>
                            <p>
                                X100 OPBK - шестиструнная электрогитара от компании Cort.
                                Данная модель станет прекрасным выбором для любого начинающего гитариста, предпочитающего тяжелую музыку.
                                X100 способна зацепить как музыкантов так и слушателей не только своим чрезвычайно стильным внешним видом, но и достаточно качественным, ясным звуком.
                                Корпус инструмента сделан из древесины меранти, которая по своим звуковым свойствам очень схожа с махагони.
                                За счет такого решения гитара имеет приятный тембр с подчеркнутой "серединой", который будет отчетливо слышно в любом миксе.
                                Сам корпус имеет продуманный, эргономичный дизайн, повышающий комфорт во время игры.
                                Гриф крепится к корпусу болтами и выполнен из канадского твердого клена, который славится своей высокой устойчивостью к перепадам температуры и влажности.
                                Место крепления выполнено со специальным скосом, упрощающим доступ к высоким нотам. Накладка на гриф сделана из древесины ятоба и имеет 24 лада.
                                В качестве датчиков здесь установлены фирменные хамбакеры Powersound в бридже и неке.
                                Для этих датчиков характерно мощное, сочное и четкое звучание с плотными низкими частотами и детализированным "верхом".
                                Настроить желаемый тембр вы сможете с помощью ручки громкости, ручки тона и трехпозиционного переключателя датчиков.
                                Бридж типа тремоло на шести шурупах гарантирует хорошую передачу вибрации струн на корпус и позволяет исполнять приемы вроде глубокого вибрато целых аккордов, украшая и придавая характер вашему исполнению.
                                Литые колки отличаются высокой надежностью, гарантируют стабильный строй и быструю настройку.
                                Особенности: корпус из меранти; гриф из твердого клена; крепление грифа: на болтах; накладка на гриф из древесины ятоба, 24 лада;
                                радиус накладки: 15.75" (400 мм); мензура: 25.5"; фирменные хамбакеры Powersound в бридже и неке; ручка громкости, ручка тона, трехпозиционный переключатель датчиков;
                                тремоло-бридж на шести шурупах; хромированная фурнитура; литые колки; отделка: Open Pore; цвет: черный.
                            </p>
                        </details>
                    </div>
                    <div class="ditails-block"> <!--table-->
                        <details>
                            <summary>Characteristics</summary>
                            <table>
                                <tr>
                                    <td>Manufacturer</td>
                                    <td>Cort</td>
                                </tr>
                                <tr>
                                    <td>Series</td>
                                    <td>Cort X Series</td>
                                </tr>
                                <tr>
                                    <td>Form</td>
                                    <td>Superstrat</td>
                                </tr>
                                <tr>
                                    <td>String holder</td>
                                    <td>Tremolo</td>
                                </tr>
                                <tr>
                                    <td>Number of strings</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Number of frets</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <td>Length of mensure</td>
                                    <td>25.5"</td>
                                </tr>
                                <tr>
                                    <td>Pickups</td>
                                    <td>H-H</td>
                                </tr>
                                <tr>
                                    <td>Pickups type</td>
                                    <td>Passive</td>
                                </tr>
                                <tr>
                                    <td>Material of the body</td>
                                    <td>Meranti</td>
                                </tr>
                                <tr>
                                    <td>Strap material</td>
                                    <td>Maple</td>
                                </tr>
                                <tr>
                                    <td>Lane lining material</td>
                                    <td>Yatoda</td>
                                </tr>
                                <tr>
                                    <td>Fillings of the vulture</td>
                                    <td>On the bolts</td>
                                </tr>
                                <tr>
                                    <td>Execution</td>
                                    <td>Right-handed </td>
                                </tr>
                                <tr>
                                    <td>Availability of case/case</td>
                                    <td>No cover/case</td>
                                </tr>
                                <tr>
                                    <td>Country of production</td>
                                    <td>Indonesia</td>
                                </tr>
                            </table>
                        </details>
                    </div>
                    <div class="ditails-block"> <!--coment form-->
                        <details>
                            <summary>Leave a comment</summary>
                            <form method="post" class="coments-write">
                                <div class="coments-write-message">
                                    <label>Message</label><br>
                                    <textarea type="text" placeholder="Enter your message(or stay this field empty)"></textarea><br>
                                </div>
                                <div class="coments-write-mark">
                                    <label>Stars: </label>
                                    <select name="stars">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <input class="submit" type="submit" value="Submit">
                            </form> 
                        </details>
                    </div>
                    <div class="details-commentblock">
                        <div class="details-commentblock-comment">
                    <pre>nice guitar</pre>
                            <div>
                                <span>by Ales</span>
                                <span>5 stars</span>
                                <span>03.08.2025-20:13</span>
                            </div>
                        </div>
                        <div class="details-commentblock-comment">
                    <pre>nice guitar</pre>
                            <div>
                                <span>by Ales</span>
                                <span>5 stars</span>
                                <span>03.08.2025-20:13</span>
                            </div>
                        </div>
                        <div class="details-commentblock-comment">
                    <pre>nice guitar</pre>
                            <div>
                                <span>by Ales</span>
                                <span>5 stars</span>
                                <span>03.08.2025-20:13</span>
                            </div>
                        </div>
                        <div class="details-commentblock-comment">
                            <pre>nice guitar</pre>
                            <div>
                                <span>by Ales</span>
                                <span>5 stars</span>
                                <span>03.08.2025-20:13</span>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("UnderTheBridge/Pagination")
                </div>
            </section>
        </main>
