@using WebPortal.Models.Girls
@model List<GirlViewModel>
@{
    Layout = "_LayoutGirl";
}

@section Scripts {
    <script src="/js/girls/index.js"></script>
}

<div>
    <a href="/Girl/Link">Link</a>
</div>

<div class="girls from-minimal-api">
    <div class="girl template" data-id="-1">
        <div class="name">***</div>
        <div class="image-container">
            <img class="girl-image" src="***" />
        </div>
        <div class="actions">
            <div class="action">
                dislike
            </div>
            <div class="action">
                like
            </div>
        </div>
    </div>
</div>

<div class="girls">
    @foreach (var girl in Model)
    {
        <div class="girl" data-id="@girl.Id">
            <div class="name">
                @if (girl.CanDelete)
                {
                    <span class="view mode">@girl.Name</span>
                    <input class="edit mode hidden" name="name" />
                }
                else
                {
                    <span class="">@girl.Name</span>
                }

                <span class="validation-message empty-name hidden">Имя не может быть пустым</span>
                
                (@girl.AuthorName) [@girl.Rating]
            </div>
            <div class="image-container">
                <img class="girl-image" src="@girl.Src" />
            </div>
            <div class="actions">
                <div class="action">
                    dislike
                </div>
                @if (girl.CanDelete)
                {
                    <a class="action" href="/girl/remove?id=@girl.Id">delete</a>
                }
                <div class="action">
                    like
                </div>
            </div>
        </div>
    }
</div>
<div class="maze">MAZE</div>
