@model WebPortal.Models.Notes.UserNotesViewModel

@{
    Layout = "_LayoutNotes";
}

<div>
    @using (Html.BeginForm("Registration", "UserNotes", FormMethod.Post))
    {
        <div class="custom_input">
            @Html.LabelFor(x => x.UserName)
            @Html.TextBoxFor(x => x.UserName, new { placeholder = "User name", @class = "input" })
            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "field-validation-error" })
        </div>
        <div class="custom_input">
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password, new { placeholder = "User password", @class = "input" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "field-validation-error" })
        </div>
        <div class="custom_input">
            @Html.LabelFor(x => x.AvatarUrl)
            @Html.TextBoxFor(x => x.AvatarUrl, new { placeholder = "User avatar url", @class = "input" })
            @Html.ValidationMessageFor(x => x.AvatarUrl, "", new { @class = "field-validation-error" })
        </div>
        <div class="custom_input">
            @Html.LabelFor(x => x.Money)
            @Html.TextBoxFor(x => x.Money, new { placeholder = "User money", @class = "input" })
            @Html.ValidationMessageFor(x => x.Money, "", new { @class = "field-validation-error" })
        </div>
        <div class="custom_input">
            <button type="submit" class="custom_input_button">Create</button>
        </div>
        <div>
            @Html.ValidationSummary()
        </div>
    }
</div>
